<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>留言板</title>
  <style>
    .right{
      float: right;
    }
    span{
      font-size: 30px;
    }
  </style>
</head>
<body>
  <div>
    <a href="/user/center" class="right">个人中心</a>
    <div>
      <img src="<%= user.avatar %>" width="50px">
      <span><%= user.nickname %></span>
    </div>
    <textarea id="msg" cols="30" rows="10"></textarea>
    <div>
      <button>留言</button>
      <a href="/user/logout">退出登录</a>
    </div>
  </div>
</body>
</html>