<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>上传头像</title>
</head>
<body>
  <form action="/user/upload" method="POST" enctype="multipart/form-data">
    <h2>请选择你的新头像:</h2>
    <input type="file" name="pic"><br>
    <input type="submit" value="上传">
  </form>
</body>
</html>